name: Main CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [macOS-13, macOS-15]
    runs-on: ${{ matrix.os }}
    env:
      repository: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name || github.repository }}

    steps:
      - name: Setup Homebrew
        id: setup-homebrew
        uses: Homebrew/actions/setup-homebrew@c231aef2fc180e8722622cfc8a9db82fad952bab # master
        with:
          test-bot: false

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ${{ steps.setup-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.setup-homebrew.outputs.gems-hash }}

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems

      - name: Tap and Switch Branch
        run: |
          brew tap "$repository"
          git -C "$(brew tap-info "$repository" --json | jq -r '.[].path')" switch "${GITHUB_HEAD_REF:-main}"

      - name: Cask Readall
        run: brew readall --verbose "$repository"

      - name: Cask Style
        run: brew style --debug --cask "$repository"

      - name: Cask Audit
        run: brew audit --debug --strict --cask --tap="$repository"

      - name: Cask Install
        run: |
          for cask in $(brew search "${repository/homebrew-/}"); do
            brew install --cask --verbose "$cask"
          done
